<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Sample test Suite">
    <test name="Search in Koop Tab">

        <classes>
            <class name="nl.home.testing.scripts.KoopSearch" />

       </classes>
    </test>

    <test name="Test for checking last searched text">

        <classes>
            <class name="nl.home.testing.scripts.LastSearch" />
        </classes>
    </test>
   </suite>